html{
    font-size: 15px;
}

.valign-middle td{
    vertical-align:middle;
}

table{
    border: 1px solid #ddd;
}

.box-list{
    padding: 10px;
    background-color: #eee;
    border-radius: 6px;
}

.selected-products-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.selected-products-list li.item{
    padding:6px 0;
    border-bottom: 1px solid #ddd;
}

.header-selected-prod{
    font-size: 14px;
    color: #888;
    width: 100%;
}

.container-fluid{
    padding: 40px 40px 0;
}
