html{
    font-size: 15px;
}

.container-fluid{
    padding: 20px;
    max-width:1024px;
}

.valign-middle td{
    vertical-align:middle;
}

table{
    border: 1px solid #ddd;
}

.selected-products-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.selected-products-list li{
    padding:6px 0;
    border-bottom: 1px solid #ddd;
}
